@using PersonalWebPage_MVC.Models
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>My Personal Web Page</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Styles/Front/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Styles/Front/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="~/Styles/Front/resume.min.css" rel="stylesheet">
</head>
<body id="page-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <span class="d-block d-lg-none">ZO</span>
            <span class="d-none d-lg-block">
                <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="@ViewBag.About.Photo" alt="">
            </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#education">Education</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#interests">Interests</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#awards">Awards</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid p-0">
        <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
            <div class="my-auto">
                <h1 class="mb-0">
                    @ViewBag.About.Name
                    <span class="text-primary">@ViewBag.About.Surname</span>
                </h1>
                <br>
                <div class="subheading mb-5">
                    @ViewBag.About.Address
                    &nbsp;&nbsp;&nbsp;
                    <a href="mailto:@ViewBag.About.Mail">@ViewBag.About.Mail</a>
                </div>
                <p class="lead mb-5">@ViewBag.About.Description</p>
                <div class="social-icons">
                    <a href="@ViewBag.About.Linkedin" target="_blank">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a href="@ViewBag.About.Github" target="_blank">
                        <i class="fab fa-github"></i>
                    </a>
                    <!-- <a href="#">
                      <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#">
                      <i class="fab fa-facebook-f"></i>
                    </a> -->
                </div>
            </div>

        </section>

        <hr class="m-0">

        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
            <div class="my-auto">
                <h2 class="mb-5">Experience</h2>
                @foreach (Experience exp in ViewBag.Experience)
                {
                    <div class="resume-item d-flex flex-column flex-md-row mb-5">
                        <div class="resume-content mr-auto">
                            <h3 class="mb-0">@exp.Position</h3>
                            <div class="subheading mb-3">@exp.Corporation</div>
                            <p>@(new HtmlString(exp.Description))</p>
                        </div>
                        <div class="resume-date text-md-right">
                            <span class="text-primary">@exp.Date</span>
                        </div>
                    </div>
                }
            </div>

        </section>

        <hr class="m-0">

        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
            <div class="my-auto">
                <h2 class="mb-5">Education</h2>
                @foreach (Education edu in ViewBag.Education)
                {
                    <div class="resume-item d-flex flex-column flex-md-row mb-5">
                        <div class="resume-content mr-auto">
                            <h3 class="mb-0">@edu.University</h3>
                            <div class="subheading mb-3">@edu.Faculty</div>
                            <div>@edu.Department</div>
                        </div>
                        <div class="resume-date text-md-right">
                            <span class="text-primary">@edu.Date</span>
                        </div>
                    </div>
                }
            </div>
        </section>

        <hr class="m-0">

        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
            <div class="my-auto">
                <h2 class="mb-5">Skills</h2>

                <div class="subheading mb-3">Programming Languages &amp; Tools</div>
                <ul class="list-inline dev-icons">
                    @foreach (Skill tech in ViewBag.TechSkill)
                    {
                        <li class="list-inline-item">
                            <i class="@tech.Description"></i>
                        </li>
                    }
                </ul>

                <div class="subheading mb-3">Workflow</div>
                <ul class="fa-ul mb-0">
                    @foreach (Skill work in ViewBag.WorkSkill)
                    {
                        <li>
                            <i class="fa-li fa fa-check"></i>
                            @(new HtmlString(work.Description))
                        </li>
                    }  
                </ul>
            </div>
        </section>

        <hr class="m-0">

        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
            <div class="my-auto">
                <h2 class="mb-5">Interests</h2>
                @foreach (Interest interest in ViewBag.Interest)
                {
                    <p>@(new HtmlString( interest.Description))</p>
                }
            </div>
        </section>

        <hr class="m-0">

        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="awards">
            <div class="my-auto">
                <h2 class="mb-5">Awards &amp; Certifications</h2>
                <ul class="fa-ul mb-0">
                    @foreach (Award award in ViewBag.Award)
                    {
                    <li>
                        <i class="fa-li fa fa-trophy text-warning"></i>
                        @(new HtmlString(award.Description))
                    </li>
                    } 
                </ul>
            </div>
        </section>
    </div>

    <!-- Bootstrap core JavaScript -->
    <!-- <script src="vendor/jquery/jquery.min.js"></script> -->
    <script src="~/Scripts/Front/jquery.min.js"></script>
    <!-- <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->
    <script src="~/Scripts/Front/bootstrap.bundle.min.js"></script>
    <!-- Plugin JavaScript -->
    <!-- <script src="vendor/jquery-easing/jquery.easing.min.js"></script> -->
    <script src="~/Scripts/Front/jquery.easing.min.js"></script>
    <!-- Custom scripts for this template -->
    <script src="~/Scripts/Front/resume.min.js"></script>

</body>

</html>
